- if @articles.present?
  %h1 最近書かれた記事一覧
  %table.table
    %tr
      %th Day
      %th Title
      %th Text
      %th User
    - @articles.each do |article|
      %tr
        %td= article.created_at
        %td= article.title
        %td= article.text
        %td= article.user.name
  =paginate @articles
