= provide(:title, "About")

%h2 About
%p このウェブサービスについて
%h3 使い方
%p ジャグリングの練習を記録できるサービスです。
%p 無料で、メールアドレスとニックネーム(何でもOK)だけで登録できます。
%h3 ジャグリングとは？？
%p
  ジャグリングってそもそも何？？？ という方はこちらの動画を見てください。
%p
  = link_to "https://youtu.be/T3EMVBkOCVg" do
    =fa_icon "youtube"
    %span 動画を見る
%h3 作っている人
%p ジャグリングとプログラミングが好きなJugglerSaruが開発しています。
=link_to '作っている人のプロフィール', user_path(1)
%h3 動作環境について
%p iPhone7(safari)、Macbook eary2016(safari, chrome)で問題なく動くことを確認しています！
%p ページを最初に開いた時だけ、読み込みに少し時間がかかります。
%p 動かないよ!! おかしいよ!! という問題があれば、記事を書いて知らせてください。
%p 最低限のレイアウトは保証していますが、ウィンドウ・モニタのサイズによってはうまく表示できない可能性があります。
%h3 関連リンク
%p= link_to 'ジャグリングのやり方。', "http://juggler.hateblo.jp/"
%p 作っている人のブログです。
%p= link_to 'ジャグリングのやり方YOUTUBE版', "https://www.youtube.com/channel/UC58ySpPSJj601F5uAwpSu8A"
%p 基本技を動画で解説しています。基本的に仮面かぶっています。
