%h1 このサイトについて
%h2 これは何のサイト？
%p ジャグリングの練習成果を記録し、あなたの成長をグラフで可視化できるサイトです！
%p 練習成果や思ったことを共有して、モチベーション向上に役立てましょう！
%h2 練習成果の登録
%p 練習成果は簡単に登録でき、他の人の投稿にコメントすることができます！
%h2 ブログの投稿
%p ユーザー登録をしたら、「記事の投稿」ボタンから今すぐ書き始めることができます。
%h2 目標
%p 日本のジャグリング情報をここに集約すること！
%h2 なんで作ったの？
%p もともとジャグリングについていろいろ情報発信をしたいと思っていたんですが、自分でブログを書いて発信するのはハードルが高すぎます。
%p あとグラフで可視化できるサイトは今まで無かったです！ これを誰でも簡単にできることを目指したのがこのサイトです。
%h2 誰が作ってるの？
%p プロフィールについてはこちらをお読みください！
