%h1 このサイトについて
%h2 これは何のウェブアプリ？
%p ジャグリングの練習成果を記録し、あなたの成長をグラフで可視化できるアプリです！
%p 練習成果や思ったことを共有して、モチベーション向上に役立てましょう！
%h2 練習成果の登録
%p 練習成果は簡単に登録でき、他の人の投稿にコメントすることもできます！
%h2 ブログの投稿
%p ユーザー登録をしたら、「記事の投稿」ボタンから今すぐ書き始めることができます。
%h2 このウェブアプリの目的
%p もともとジャグリングについていろいろ情報発信をしたいと思っていたんですが、自分でブログを書いて発信するのはハードルが高すぎます。
%p あとグラフで可視化できるサイトは今まで無かったです！ これを誰でも簡単にできることを目指したのがこのサイトです。
%p 日本のジャグリング情報をここに集約すること！
%h2 誰が作ってるの？
%p 開発者についてはこちらをお読みください！
=link_to '作っている人のプロフィール', user_path(1)
%h2 動作環境について
%p 基本的にはJavaScriptが有効になっていれば問題なく動くと思います。
%p iPhone7(safari)、Macbook eary2016(chrome)で問題なく動くことを確認しています！
%p bootstrapというフロントエンドWebアプリケーションフレームワークによって、様々な環境からの最低限のレイアウトを保証しています。
%p 表示環境やウィンドウ・モニタのサイズによってはうまく表示できない可能性があります。
%h2 一緒に開発する人募集中！
%p このウェブアプリはruby on railsとjava scriptで動いています。
%p htmlのpタグの意味さえ分からなかった人間が、4ヶ月ほど猛勉強して作りました。
%p まだまだこれからだと思っています。
%p WEB周りのプログラミングのことが分からなくても、翻訳・企画・広報、どんな形であれ一緒に協力してくれる人を歓迎します！
